h1 {
    font-size: 82px;
    text-align: left;
    font-family: 'Open Sans';
}
h2 {
    text-align: left;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 300;
}

#feedback input::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback input::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback input:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback input:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback textarea::-webkit-input-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback textarea::-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback textarea:-moz-placeholder {
    color: #000000;
    opacity: 0.5;
}

#feedback textarea:-ms-input-placeholder {
    color: #000000;
    opacity: 0.5;
}


@media screen and (max-width: 1200px) {
    .t268__descr {
        font-size: 16px
    }
}

@media screen and (max-width: 960px) {
    .t268__descr {
        font-size: 12px
    }

    h1 {
        font-size: 76px;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        font-size: 64px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
        font-size: 46px;
    }
}